.principal {
  margin-top: 30px;
}

.list-group-item.active {
  background-image: linear-gradient(to bottom,#5cb85c 0,#5cb85c 100%) !important;
  border-color: #56b156 !important;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: #56b156;
}


a {
  color: #1c1e1f;
}

.menu {
  margin-top: 30px;
}

a:focus, a:hover {
  color: #136113;
}
