.horizontalMenu{
	font-size: 30px;
	color:white;	
	display: inline-block;
}

.selected{
	background-color: #3372c9;
}


.no-selected{
	background-color: #000000;	 
}

.no-selected:hover{
	background-color: #4c4a4a;	 
}

ul{
	border: 1px solid white;
}