.modal-container {
	position: relative !important;
}
.modal-container .modal, .modal-container .modal-backdrop {
	position: absolute !important;
}
h1, h2, h3, h4{
	font-weight: 700;
}
.login {
	padding: 20px;
}
.modal-sm{
	width: 450px;
}